@model RegisterUserModel

<script src="https://cdn.jsdelivr.net/npm/signature_pad@4.1.5/dist/signature_pad.umd.min.js"></script>

<script>
    $(() => {
        const canvas = document.querySelector("canvas");
        const signaturePad = new SignaturePad(canvas);

        const form = document.querySelector('form');
        form.onsubmit = ev => {
            if (signaturePad.isEmpty()) return;
            ev.preventDefault();

            fetch(signaturePad.toDataURL()).then(x => x.blob()).then(blob => {
                const list = new DataTransfer();
                const file = new File([blob], "signature.png");
                list.items.add(file);
                form.querySelector('[type="file"]').files = list.files;
                form.submit();
            });
        };
    });
</script>

<style>
    #signature img, #signature a, .has-sign canvas {
        display: none;
    }

    #signature.has-sign img, #signature.has-sign a {
        display: initial;
    }
</style>

<section class="page-header page-header-modern bg-color-light-scale-1 page-header-lg">
    <div class="container">
        <div class="row">
            <div class="col-md-12 align-self-center p-static order-2 text-center">
                <h1 class="font-weight-bold text-dark">Profile</h1>
            </div>
            <div class="col-md-12 align-self-center order-1">
                <ul class="breadcrumb d-block text-center">
                    <li>
                        <a href="@Url.Action("UserProfile", "Home")">User Profile</a>
                    </li>
                    <li class="active">Profile</li>
                </ul>
            </div>
        </div>
    </div>
</section>

<div class="container pt-3 pb-2">
    @using (Html.BeginForm("SaveProfile", "Home", FormMethod.Post, new { @class = "needs-validation", enctype = "multipart/form-data" }))
    {
        <div class="row">
            <h4>Contact Information</h4>
            <hr/>
            <div class="form-group  col-lg-6">
                <label class="col-lg-3 col-form-label form-control-label line-height-9 pt-2 text-2 required">First Name</label>
                <div class="col-lg-12">
                    <input class="form-control text-3 h-auto py-2" type="text" name="FirstName" value="@Model.FirstName" required>
                </div>
            </div>
            <div class="form-group  col-lg-6">
                <label class="col-lg-3 col-form-label form-control-label line-height-9 pt-2 text-2 required">Last Name</label>
                <div class="col-lg-12">
                    <input class="form-control text-3 h-auto py-2" type="text" name="LastName" value="@Model.LastName" required>
                </div>
            </div>
            <div class="form-group  col-lg-6">
                <label class="col-lg-3 col-form-label form-control-label line-height-9 pt-2 text-2">Title</label>
                <div class="col-lg-12">
                    <input class="form-control text-3 h-auto py-2" type="text" name="Title" value="@Model.Title">
                </div>
            </div>
            <div class="form-group  col-lg-6">
                <label class="col-lg-12 col-form-label form-control-label line-height-9 pt-2 text-2">Company Name</label>
                <div class="col-lg-12">
                    <input class="form-control text-3 h-auto py-2" type="text" name="CompanyName" value="@Model.CompanyName">
                </div>
            </div>
            <div class="form-group col-lg-4">
                <label class="col-lg-12 col-form-label form-control-label line-height-9 pt-2 text-2">Office Phone</label>
                <div class="col-lg-12">
                    <input class="form-control text-3 h-auto py-2" type="text" name="OfficePhone" value="@Model.OfficePhone">
                </div>
            </div>
            <div class="form-group col-lg-4">
                <label class="col-lg-3 col-form-label form-control-label line-height-9 pt-2 text-2">Extension</label>
                <div class="col-lg-12">
                    <input class="form-control text-3 h-auto py-2" type="text" name="Extension" value="@Model.Extension">
                </div>
            </div>
            <div class="form-group col-lg-4">
                <label class="col-lg-3 col-form-label form-control-label line-height-9 pt-2 text-2 required">Cellphone</label>
                <div class="col-lg-12">
                    <input class="form-control text-3 h-auto py-2" type="text" name="Cellphone" value="@Model.Cellphone" required>
                </div>
            </div>
        </div>

        <div class="row">
            <div style="text-align: right;">
                <button type="submit" class="btn btn-primary">Save profile</button>

                <a href="@Url.Action("Index", "Location")">
                    <button type="button" class="btn btn-default">
                        Edit locations
                    </button>
                </a>

                <button type="button" class="btn btn-danger" onclick="location = location.href;">
                    Cancel
                </button>
            </div>
        </div>
    }
</div>