@model List<slTradeIn.Data.vw_TTU_ManualQuoteList>


@{
    ViewBag.Title = "Manual Quotes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div role="main" class="main">

    <section class="page-header page-header-modern bg-color-light-scale-1 page-header-lg">
        <div class="container">
            <div class="row">
                <div class="col-md-12 align-self-center p-static order-2 text-center">
                    <h1 class="font-weight-bold text-dark">My Quotes</h1>
                </div>
                <div class="col-md-12 align-self-center order-1">
                    <ul class="breadcrumb d-block text-center">
                        <li><a href="@Url.Action("UserProfile","Home")">User Profile</a></li>
                        <li class="active">Manual Quotes</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <div class="container pt-3 pb-2">
        <input type="button" value="Create New Manual Quote" class="btn btn-primary btn-modern float-end" data-loading-text="Loading..." onclick="location.href='@Url.Action("SelectManualQuote","ManualQuote",new { iManualQuoteID = 0})'">

        <br />
        <br />
        <br />
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Date Created
                    </th>
                    <th>
                        Quote Status
                    </th>
                    <th>

                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @String.Format("{0:MM/dd/yyyy}", item.dDateCreated)
                        </td>
                        <td>
                            @String.Format("{0:$ 0,0.##}", item.QuoteStatus)
                        </td>
                        <td class="text-center">
                            <button class="btn btn-default btn-sm rounded-0" onclick="location.href = '@Url.Action("SelectManualQuote","ManualQuote",new { iManualQuoteID = item.iManualQuoteID})'" type="button" data-toggle="tooltip" data-placement="top" title="Edit"><i class="fa fa-search"></i></button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
